$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "colors";
@import "header";
@import "hero";
@import "aboutMe";
@import "skills";
@import "footer";
@import "portfolio";
@import "queries";

body {
  font-family: 'Quicksand', sans-serif;
  background-color: $body;
}

* a:hover, * a:visited, * a:focus, * button:visited, * button:focus, * button:hover {
  text-decoration: none;
//  outline: none;
}






